@import './colors';

.recently-played__content-container {
    padding: 1rem 2rem 1rem 15rem;
}

.recently-played__elements-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.recently-played__card {
    width: 100%;
    padding: 1rem 2rem;
    margin: .25rem 0;
    border-radius: 15px;
    background-color: $dark-color;
    overflow: hidden;
    transition: .3s;

    h1 {
        color: $font-color;
    }
}

.recently-played__card::after {
    content: '';
    position: relative;
    bottom: 0;
    width: 0;
    height: 15px;
    background-color: $accent-color;
    transition: .3s;
}

.recently-played__card:hover::after {
    width: 100%;
}

@media (max-width: 992px) {
    .recently-played__content-container {
        padding: 1rem 2rem 5.5rem 2rem;
    }
}