@import './colors';

.sidebar {
    width: 14rem;
    height: 100vh;
    background-color: #000;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $font-color;

    h1 {
        margin: 2.5rem 0 1rem 0;
        font-size: 2.5rem;
    }

    .nav-list {
        list-style: none;
        height: 100%;
        width: 100%;
        margin-top: 1rem;

        .nav-item {
            width: 100%;
            padding: 1rem 0 1rem 2rem;
            margin: 1rem 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            transition: .3s;

            .icon {
                margin-right: 1rem;
                font-size: 22px;
            }
        }

        .nav-item:hover {
            background-color: $background-color;
            color: $accent-color;
        }

        .nav.item:last-child {
            margin-top: auto;
        }
    }
}

@media (max-width: 992px) {
    .sidebar {
        bottom: 0;
        height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h1 {
            margin: 0 0 0 2rem;
            font-size: 2rem;
        }

        .nav-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0 0 0 10rem;

            .nav-item {
                .icon {
                    font-size: 32px;
                }
    
                .nav-text {
                    display: none;
                }
            }

            .nav-item:hover {
                background: none;
            }
        }
    }
}
