@import './colors';


.login-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3rem;
        color: $font-color;
    }

    .btn-wrapper {
        margin-top: 3rem;
        
        .sign-in-btn {
            padding: 1rem 3rem;
            font-size: 1rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            background-color: $accent-color;
            border-radius: 50px;
            cursor: pointer;
            transition: .1s;
        }

        .sign-in-btn:hover {
            background-color: #1ed760;
        }
    }
}