@import './colors';

.top-tracks-content-container {
    padding: 1rem 2rem 1rem 15rem;
}

.top-tracks-elements-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2rem;
}

.top-card {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    color: $font-color;
    background-color: $dark-color;
    overflow: hidden;
    transition: .3s;

    img {
        width: 100%;
    }
    
    .info-box {
        width: 100%;
        height: 100%;
        padding: 1rem 1.5rem;

        h1 {
            font-size: 1.20rem;
            margin-bottom: .5rem;
        }

        h2 {
            font-size: .85rem;
            color: $darker-font-color;
        }
    }
}

.top-card::after {
    content: '';
    position: relative;
    bottom: 0;
    width: 0;
    height: 15px;
    background-color: $accent-color;
    transition: .3s;
}

.top-card:hover::after {
    width: 100%;
}

@media (max-width: 992px) {
    .top-tracks-content-container {
        padding: 1rem 2rem 6rem 2rem;
    }
}