@import './imports/_colors.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $dark-color;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #fff;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;

    .nav-items {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        color: $accent-color;
        cursor: pointer;
    }
}