@import './imports/_colors.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #232323;
    padding: 1rem 2rem;
}

main {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

.btn-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .sign-in-btn {
        padding: 1rem 3rem;
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000;
        background-color: $accent-color;
        border-radius: 50px;
        cursor: pointer;
        transition: .05s;
    }
}


.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-color;

    .nav-items {
        list-style: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        color: $accent-color;
        cursor: pointer;
    }
}

.elements-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.card {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    color: $font-color;
    background-color: $dark-color;
    overflow: hidden;

    img {
        width: 100%;
    }

    h1 {
        font-size: 1.25rem;
        margin-top: 1rem;
    }
}

header {
    width: 100%;
    padding: 2rem 0;

    h1 {
        color: $font-color;

        span {
            color: $accent-color;
        }
    }
}