@import './imports/_colors.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #232323;
}

.content-container {
    padding: 1rem 2rem 1rem 15rem;
}

.app {
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    .content-container {
        padding: 1rem 2rem 6rem 2rem;
    }
}